APSRTC- Web service/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPassengerDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetPassengerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPassengerDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostPassengerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="n" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="origin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostPassengerDetailsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPassengerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPassengerDetails" />
  </wsdl:message>
  <wsdl:message name="GetPassengerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPassengerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="PostPassengerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:PostPassengerDetails" />
  </wsdl:message>
  <wsdl:message name="PostPassengerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:PostPassengerDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetPassengerDetails">
      <wsdl:input message="tns:GetPassengerDetailsSoapIn" />
      <wsdl:output message="tns:GetPassengerDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostPassengerDetails">
      <wsdl:input message="tns:PostPassengerDetailsSoapIn" />
      <wsdl:output message="tns:PostPassengerDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPassengerDetails">
      <soap:operation soapAction="http://tempuri.org/GetPassengerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostPassengerDetails">
      <soap:operation soapAction="http://tempuri.org/PostPassengerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPassengerDetails">
      <soap12:operation soapAction="http://tempuri.org/GetPassengerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostPassengerDetails">
      <soap12:operation soapAction="http://tempuri.org/PostPassengerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:65426/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:65426/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>